version = 0.20.1

profile = ocamlformat
margin = 110

break-cases = fit-or-vertical
break-fun-decl = fit-or-vertical
break-infix = fit-or-vertical
break-sequences = true

doc-comments = before
doc-comments-tag-only = fit

field-space = tight-decl

indicate-multiline-delimiters = no
infix-precedence = parens

let-and = sparse

sequence-style = terminator

parse-docstrings = true
parens-tuple = always
space-around-arrays = true
space-around-lists = true
space-around-records = true
type-decl = sparse

wrap-comments = true
wrap-fun-args = false
